{
  "machine": { "gpu": 1, "vram": 0, "cpu": 8000, "ram": 16000 },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": { "Concurrency": 1 },
      "Docker": {
        "Entrypoint": [
          "/app/src/run_model", {{ .request }}
        ],
        "Image": "lilypadnetwork/mistral-7b@sha256:f07cd1c4af1c5a73a9c8147a2a20fce6711f5b70bfa7be6a8853204366a00446"
      },
      "Engine": "Docker",
      "Network": { "Type": "None" },
      "Outputs": [{ "Name": "outputs", "Path": "/outputs" }],
      "Resources": { "GPU": "1", "CPU": "8", "Memory": "16Gb" },
      "Timeout": 1800,
      "Verifier": "Noop"
    }
  }
}
